.root{
  background: white;
  border-radius: 20px;
}
.root textarea[name|="Overview"]{

height: 400px !important;
width:300px !important;


}


@media (max-width: 600px) {
     
    
}
@media (max-width: 1400px) {
     
    .typography {
        font-style: normal !important;
        font-weight: 549 !important;
        line-height: 44px !important;
        padding : 5px;
        word-wrap: break-word;
        color: #575757;
        
        

  
        
    }
    input{
        font-weight: 500 !important;
        border-color : rgb(238, 233, 233) !important;
        width: 300px !important;
    }
    fieldset{

            border : 2px solid rgb(238, 233, 233) !important;
            border-radius: 20px !important;
    }
}
@media (max-width: 1920px) {
     
    .typography {
        font-style: normal !important;
        font-weight: 549 !important;
        line-height: 44px !important;
        padding : 5px;
        word-wrap: break-word;
        color: #575757;
       


  
        
    }
    input{
        font-weight: 500 !important;
        border-color : rgb(238, 233, 233) !important;
        width: 300px !important;
    }
    fieldset{

            border : 2px solid rgb(238, 233, 233) !important;
            border-radius: 20px !important;
    }
}