.addProperty {

    background-color: #F5F5F5;



}

.heading {
    color: #575757;

}

.label2 {

    font-style: normal !important;
    font-weight: 549 !important;
    line-height: 44px !important;
    word-wrap: break-word;
    color: #575757;
    padding-left: 200px;
    
}
.label3{

    word-wrap: break-word;
    text-align: end;

}
.label3 input{

    display: none;
}