.addProperty {

    background-color: #F5F5F5;



}

.heading {
    color: #575757;

}

.label2 {

    font-style: normal !important;
    font-weight: 549 !important;
    line-height: 44px !important;
    word-wrap: break-word;
    color: #575757;
    padding-left: 184px;
}