.dropzone{
    position: relative;
    background-color: rgba(254, 254, 254, 0.96);
    
    border-radius: 7px;
    width: 800px;
    height: 269px;
    border-style: outset;
    border: 1px solid #575757


}
.upload-tag{
    text-align: center;
    position: relative;
    padding-top: 75px;
    font-family: 'Roboto';
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 24px !important;


}
.upload-tag-2{
    text-align: center;
    position: relative;
    color: #575757 !important;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    

}
.preview{

    height: 100px;
    width: 100px;
  
}

.close2{
    color: #d16c6c;
    padding-top: 7px;
    padding-left: 65px;
    position: absolute;
    cursor: pointer;

}
.preview img{

    width: 70px;
    height: 70px;
    object-fit: cover;
    margin:0.5rem;
    border-radius: 3px;
    box-shadow: inset;
}


@media (max-width: 600px) {
     
    .dropzone{
        position: relative;
        background-color: rgba(254, 254, 254, 0.96);
        
        border-radius: 7px;
        width: 300px;
        height: 200px;
        border-style: outset;
        border: 1px solid #575757
    
    
    }
    .upload-tag{
        text-align: center;
        position: relative;
        padding-top: 50px;
        font-family: 'Roboto';
        font-style: normal !important;
        font-weight: 600 !important;
        font-size: 24px !important;
    
    
    }
    .upload-tag-2{
        text-align: center;
        position: relative;
        color: #575757 !important;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        
    
    }
    
}
