.root{

  width: 325px;
  
  margin-left: 34px;
  
  background: white;
  border-radius: 20px;

}

.root input{
font-weight: 500 !important;
border-color : rgb(238, 233, 233) !important;
border-radius: 20px !important;
border: 2px !important;


}


.root fieldset{

border : 2px solid rgb(238, 233, 233) !important;
border-radius: 20px !important;

}

.typography {

  
  font-style: normal !important;
  font-weight: 549 !important;
  line-height: 44px !important;
  
  word-wrap: break-word;
  color: #575757;

}
@media (max-width: 600px) {
  .root{

    width: 330px;
    
    margin-left: 0 !important;
    
  
  
  }
    
}
@media (max-width: 1366px) {
  .root{

    width: 330px;
    
    margin-left: 0 !important;
    
  
  
  }
    
}
@media (max-width: 1920px) {
  .root{

    width: 330px;
    
    margin-left: 0px!important;
    
  
  
  }
  .MuiTextField-root{

    border : 2px solid rgb(252, 250, 250) !important;
    border-radius: 20px !important;
  }
    
}