.dropzone{
    position: relative;
    background-color: rgba(254, 254, 254, 0.96);
    
    border-radius: 7px;
    width: 800px;
    height: 269px;
    border: 2px solid #3C88F1;



}
.upload-tag{
    text-align: center;
    position: relative;
    padding-top: 113px

}
.upload-tag-2{
    text-align: center;
    position: relative;

}
.preview{


    
}