
.carousel .control-next.control-arrow:before{
    border-left: 8px solid #0f0f0f;
}
.carousel .control-prev.control-arrow:before{
    border-right: 8px solid #0f0f0f;
}
.carousel .control-dots .dot{
    background:#000;
}