.login-background {
    /* The image used */
    background-image: url(./../../../public/images/Signup.svg);
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.center-card {
    margin: auto;
    background-color: rgba(71, 70, 70,0.15);
    width: 50%;
    height: 50%;
    display: grid;
    backdrop-filter: blur(6px);
    padding: 5vh 5vw;
    border-radius: 1.2rem;
}

.google-button{
    background: #fff !important;
    color: black !important;
}

.common-textfield{
    border-radius: 0.75rem;
    border: none !important;
    outline: none !important;
}

.input-container {
    display: grid;   
}
.input-title{
    font-size: 1.5rem;
}
.input-field{
    margin-top: 1.5rem !important;
}